%title-40 {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;

  @include media ("<phone") {
    // font-size: 2.4rem;
  }
}

%title-64 {
  font-size: 6.4rem;
  line-height: 100%;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;

  @include media ("<phone") {
    // font-size: 2.4rem;
  }
}

%title-70 {
  font-size: 7rem;
  line-height: 100%;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;

  @include media ("<phone") {
    // font-size: 2.4rem;
  }
}

%title-100 {
  font-size: 10rem;
  line-height: 120%;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;

  @include media ("<phone") {
    // font-size: 2.4rem;
  }
}

%title-320 {
  font-size: 32rem;
  line-height: 110%;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;

  @include media ("<phone") {
    // font-size: 2.4rem;
  }
}
