:root {
  --clr-white: 0 100% 100%;
  --clr-black: 0 0% 0%;
  --clr-red: 2 100% 44%;
  --clr-gray-500: 0 0% 85%;

  --text-01-clr: hsl(var(--clr-white));
  --text-02-clr: hsl(var(--clr-white) / 0.5);

  --brand-clr: hsl(var(--clr-red));

  --border-01-clr: hsl(var(--clr-white));
  --border-02-clr: hsl(var(--clr-white) / 0.3);

  --surface-01-clr: hsl(var(--clr-white) / 0.5);
  --surface-02-clr: hsl(var(--clr-black) / 0.9);
  --surface-03-clr: hsl(var(--clr-gray-500));

  --bg-clr: hsl(var(--clr-black));
}
